<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>home</servlet-name>
    <servlet-class>com.jsp.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>score2</servlet-name>
    <servlet-class>com.jsp.servlet.ScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>score2</servlet-name>
    <url-pattern>/score2</url-pattern>
  </servlet-mapping>
</web-app>