/.metadata/
/Servers/
*.txt
*.jar
*.png
/*/.settings
*.MF
*/build/
**/JSP_command_bootstrap2/**
**/JSP_command_bootstrap/**/resources/**
**/JSP_bootstrap/**/resources/**
*.class
JSP_Module/
JAVA_basic/
JAVA_reflection/
JSP_Module/
JSP_Filter/
JSP_JSTL/
JSP_Listener/
JSP_Module/
JSP_basic/
jsp_log4job/WebContent/resources/
log4job_self/
log4job/.svn
JSP_bootstrap/
spring_test2/
servlet_basic/
JSP_EL/
DDIT_semi_hospital/WebContent/resources/
**/project/**/resources/**
spring_bootstrap/**/bootstrap/
spring_bootstrap/**/views/
spring_test/**/bootstrap/
*.zip