<?xml version="1.0" encoding="UTF-8"?>
<!-- servlet-class는 패키지명도 작성해야함 -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>initServlet</servlet-name>
    <servlet-class>com.jsp.controller.InitApplicationContextServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
</web-app>